<div class='row margin post'>
	<div class='float_left'><%= image_tag(notification.follower.picture , class: 'avatar_sm' ) %>
			<%= render partial: "users/follow_button", locals: {user_follow: notification.follower} %>
	</div>
	<div class='float_left width_85'><h4><small><%= time_ago_in_words(notification.created_at) %> ago</small></h4><h4><%= link_to "@#{notification.follower.username}:", "/#{notification.follower.username}" %> is now following you.</div>
</div>