<div class="row">
	<%= render partial: "profile/profile", locals: {user: @user} %>
	  <div class="col-md-8 cont">
	  	<h3>Notifications:</h2><hr>
	  	<% @notifications.each do |notification|%>
				<div>
					<%= render notification%>
					<hr>
				</div>
			<%end%>
	  </div>
</div>