<% if current_user.following?(user_follow) %>
	<div><%= link_to 'Unfollow', relation_path(user_follow), method: :delete, class: 'btn btn-danger'%></div>
<% else %>
	<div><%= link_to 'Follow', relations_path( followed_id: user_follow.id), method: :post , class: 'btn btn-primary'%></div>
<% end %>