<div class='row margin post'>
	<div class='float_left'><%= image_tag(user.picture , class: 'avatar_sm' ) %>
	<% if current_user %>
		<% if current_user != user %>
			<%= render partial: "follow_button", locals: {user_follow: user} %>
		<% end %>
	<% end %>
	</div>
	<div class='float_left width_85'><h4><%= link_to "@#{user.username}:", "/#{user.username}" %><br><small><%= user.about %></small></h4></div>
</div>
