<div class="row">
	<%= render partial: "profile/profile", locals: {user: @user} %>
	  <div class="col-md-8 cont">
	  	<h3><%= @user.username %>´s followers:</h2><hr>
	  	<% @followers.each do |follower|%>
				<div>
					<%= render partial: "user", locals: {user: follower} %>
					<hr>
				</div>
			<%end%>
	  </div>
</div>