<div class="row">
	<%= render partial: "profile/profile", locals: {user: @user} %>
	  <div class="col-md-8 cont">
	  	<h3><%= @user.username %> is following:</h2><hr>
	  	<% @following.each do |following|%>
				<div>
					<%= render partial: "user", locals: {user: following} %>
					<hr>
				</div>
			<%end%>
	  </div>
</div>