<div class="row">
	  <div class="col-md-8 col-md-offset-3">
	  	<div class='cont' >
		  	<h3>Search results:</h3><hr>
		  	<% if @users.any? %>
			  	<% @users.each do |user|%>
						<div>
							<%= render partial: "user", locals: {user: user} %>
							<hr>
						</div>
					<%end%>
				<%end%>
			</div>
	  </div>
</div>