<div class="row">
	<%= render partial: "profile/profile", locals: {user: @user} %>
	  <div class="col-md-8 cont">
	  	<h3><%= @user.username %>´s Strings:</h2><hr>
	  	<% @user.posts.order('created_at desc').each do |post|%>
				<div>
					<%= render partial: "posts/post", locals: {post: post} %>
					<hr>
				</div>
			<%end%>
	  </div>
</div>