<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<div class='cont' >
			<div class="jumbotron">
			  <h1>Welcome to Stringer!</h1>
			  <p>A new concept of microblogging.</p>
			  <p>Because life´s not as short as 140 characters.</p>
			</div>
			<h3>Why Stringer?</h3>
			<p>We believe that 140 character is not enough to express ourselves sometime. With that in mind we decided to create an alternative to our birdish friend. The same idea, but with much more space to talk. Here in stringer we believe a String is enough for you to express yourself.</p>
			<h3>What is a String?</h3>
			<p>In computer programming, a string is traditionally a sequence of characters. It´s length may vary but here we are using the limit of 255 characters.</p>
			<h3>How can I start?</h3>
			<p>Just sign up on the form on the right. And start stringing.</p>

			<h4>We hope you enjoy!</h4>
		</div>
	</div>
	<div class="col-md-3">
		<div class='cont' >
			<h2>Log in</h2>

			<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="form-inputs">
			    <%= f.input :login, required: false, autofocus: true %>
			    <%= f.input :password, required: false %>
			    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
			  </div>

			  <div class="form-actions">
			    <%= f.button :submit, "Log in", class: 'btn btn-primary btn-lg btn-block' %>
			  </div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>