<%= simple_form_for(current_user.posts.new, html: { class: 'form-horizontal' }) do |f| %>
	<%= f.input :content, as: :text, label: false %>
	<%= f.input :user_id, as: :hidden %>
	<%= f.submit "String It!", class: 'btn btn-success' %>
<% end %>