<div class='row margin post'>
	<div class='float_left'><%= image_tag(post.user.picture , class: 'avatar_sm' ) %>
	<% if current_user %>
		<% if current_user == post.user %>
			<div><%= link_to 'Delete String', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></div>
		<% end %>
	<% end %>
	</div>
	<div class='float_left width_85'><h4><%= link_to "@#{post.user.username}:", "/#{post.user.username}" %><h6><small><%= time_ago_in_words(post.created_at) %> ago</small></h6><small><%= post.content %></small></h4></div>
</div>
