/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.cont{
	background-color: #ffffff;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.avatar_med{
	width: 130px;
}
.avatar_sm{
	width: 75px;
}
.float_left{
	float: left;
	padding: 5px;
}

.float_left h6{
	margin-top: -10px;
}

.width_85{
	width: 85%;
}

.about{
	padding: 10px;
	font-size: smaller;
}

.margin{
	margin-left: 10px;
	width: 95%;
}

.count{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.count p{
	text-align: center;
}

.center_count{
	padding-left: 20px;
	padding-right: 20px;
	border-left-style: solid;
	border-right-style: solid;
	border-left-color: #dadada;
	border-right-color: #dadada;
}
.center_count p{
	text-align: center;
}

.border_low{
	border-bottom-color: #dadada;
	border-bottom-style: dashed;
}

.post{
	margin-top: -10px;
}