<div class="col-md-3 cont">
	<div class="row margin">
		<div class='float_left'><%= image_tag(user.picture , class: 'avatar_med' ) %>
		</div>
		<h4><%= user.full_name.present? ? user.full_name: user.username %><br><small>@<%= user.username %></small></h4>
		<% if current_user %>
			<% if current_user != @user %>
				<%= render partial: "follow_button", locals: {user_follow: @user} %>
			<% end %>
		<% end %>
	</div><hr>
	<div class="row margin border_low">
		<div class='float_left count'> Posts <p> <%= link_to "#{@user.posts.count}", "/#{@user.username}" %></p></div>
		<div class='float_left center_count'> Following<p> <%= link_to "#{@user.following.count}", "/#{@user.username}/following" %></p></div>
		<div class='float_left count'> Followers<p> <%= link_to "#{@user.followers.count}", "/#{@user.username}/followers" %></p></div>
	</div>
	<div class="row margin">
		<div class='about'><p><%= user.about %></p></div>
	</div>
</div>