<div class="row">
	<%= render partial: "profile", locals: {user: @user} %>
	  <div class="col-md-8 cont">
	  	<div class="row margin" style="padding: 10px; width: 95%;">
		  	<%= render partial: "posts/new" %>
		  </div>
		  <hr>
	  	<% @nf.each do |post|%>
				<div>
					<%= render partial: "posts/post", locals: {post: post} %>
					<hr>
				</div>
			<%end%>
	  </div>
</div>