<!DOCTYPE html>
<html>
<head>
  <title>Stringer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar fixed: :top, brand: "Stringer", brand_link: authenticated_root_path do %>
  <% if current_user.present? %>
    <%= badge(current_user.notifications.where(read_at: nil).count) %>
    <%= menu_group do %>
      <%= menu_item "Notifications", user_notifications_path(current_user) %>
    <% end %>
		<%= menu_group pull: :right do %>
        <%= menu_item "Edit Profile", edit_user_registration_path(current_user) %>
        <%= menu_item "Log Out", destroy_user_session_path, :method => :delete %>
    <% end %>
  <% end %>
  <div class="col-sm-3 col-md-3 pull-right">
            <!-- <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form> -->
            <%= form_tag search_users_path, class: 'navbar-form', role: 'search', method: :get do %>
              <div class='input-group'>
                <%= text_field_tag :by_username, nil, placeholder: '@Username', class: 'form-control' %>
                <div class="input-group-btn">
                  <%= button_tag(type: 'submit', class: "btn btn-default") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </div>
              </div> 
            <% end %>
        </div>  
<% end %>
<%= bootstrap_flash %>
<div class="container-fluid">
	<%= yield %>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom">
</nav>

</body>
</html>
